########################################
# Java / Maven
########################################
target/
*.log
*.class

########################################
# Maven Wrapper
########################################
.mvn/wrapper/maven-wrapper.jar

########################################
# IntelliJ IDEA
########################################
.idea/
*.iml
*.iws
*.ipr
out/

########################################
# Eclipse
########################################
.project
.classpath
.settings/

########################################
# VS Code
########################################
.vscode/

########################################
# OS
########################################
.DS_Store
Thumbs.db

########################################
# Spring Boot
########################################
spring.log
hs_err_pid*

########################################
# Test reports
########################################
surefire-reports/
failsafe-reports/

########################################
# Lombok (если появится)
########################################
.lombok/

########################################
# Local config (на будущее)
########################################
application-local.yml
application-local.properties
